html, body {
	/*width: 100%;*/
	height: 100%;
}

body {
	font-family: expressway, sans-serif;
	background-image: url(../helpBgr.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

table {
	width: 100%;
}

table tr >td:first-child {
	text-align: center;
}

h1 {
	text-align: center;
}

#main-div {
	margin: 20px auto;
	width: 810px;
	background: hsla(40,30%,90%,0.6); 
	padding: 2px 15px;
	border: 1px solid;
	border-color: hsla(40,30%,10%,0.7); 
}

#items-div {
	padding: 10px;
}

#items-div img {
	opacity: 0.8;
	cursor: pointer;
}

#items-div img:hover {
	opacity: 1;
} 

#items-list-div {
	text-align: center;
	margin-bottom: 20px;
} 

#items-list-div img {
	margin-right: 5px;
	margin-bottom: 5px;
} 

#recipes-list-div {
	text-align: center;
	font-weight: bold;
}

.outer-recipe-div {
	margin-bottom: 5px;
}

.recipe-div {
	display: table-row;
}

.recipe-div > div, .recipe-div > img {
    vertical-align: middle;
	margin: 0 5px;
}

.recipe-div > div {
	font-size: 22px;
    font-weight: bold;
	display: table-cell;
    width: 20px;
    text-align: center;
}